*{
    font-family: 'Inter', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    gap: 32px;
}
#keyboard{
    width: 1198.9345703125px;
    border-radius: 40px;
    background: #F7F7F7;
    padding: 43px 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.keys{
    background: #FFFFFF;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #60C1B6;
    font-size: 24px;
}
.fkeys{
    color: #868888;
    min-width: 120px;
}
.caps{
    padding: 0 20px;
    display: flex;
    gap: 15px;
}
.shift{
    padding: 0 40px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.space{
    display: flex;
    width: 100%;
}
.navigation {
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 0 auto;
       gap: 50px;
}
.lg-nav-buttons {
       background-color: rgba(122, 178, 243, 0.942);
       border-radius: 8px;
       box-shadow: inset;
       padding: 5px;
       width: 50px;
       height: 50px;
       display: flex;
       justify-content: center;
       align-items: center;
}