body {
    background: #37B2C3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg-teal{
    background: #37B2C3;
}
svg{
    max-width: 100vw;
    max-height: 100vh;
}
.white-keys{
    fill: antiquewhite;
}
.white-keys:hover{
    fill: #ffd200;
}
.black-keys{
    fill: black;
}
.black-keys:hover{
    fill: #f40082;
}
.navigation{
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 0 auto;
       gap: 50px;
}
.lg-nav-buttons {
       background-color: rgba(122, 178, 243, 0.942);
       border-radius: 8px;
       box-shadow: inset;
       padding: 5px;
       width: 50px;
       height: 50px;
       display: flex;
       justify-content: center;
       align-items: center;
}