*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }

body{ background-color: #EFF0F6; }

::-webkit-scrollbar{ display: none; }

.bg__left{
    position: absolute;
    left: 0;
    z-index: -10;
}
.bg__top{
    position: absolute;
    right: 0;
    z-index: -10;
}
.bg__btm{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -10;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 20;
}
.main__container, .main__cart{
    width: 375px;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 0px 0px 70px #C7CBE3;
    padding-bottom: 25px;
    overflow: hidden;
    position: relative;
}
h1,h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
    margin: 0;
}
.header, .offcanvas-header{
    padding: 25px;
    background: #FFFFFF;
    box-shadow: 1px 1px 5px #C7CBE3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 88px;
}
.header button{
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    outline: transparent;
}
.header button svg{
    fill: rgb(228, 201, 50);
}
.badge{
    position: absolute;
    background: #6B00F5;

}
.menu__items{
    height: 550px;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow-y: scroll;
}
.menu-item{
    margin: 50px 0 0 30px;
    background: rgba(122, 179, 243, 0.2);
    border-radius: 20px 0 0 20px;
    padding: 10px 10px 20px;
    position: relative;
    min-height: 120px;
}
.item__description{
    display: grid;
    gap: .5rem;
    padding: 0;
}
.itemImg{
    position: absolute;
    width: 130px;
    height: 130px;
    transform: translateX(-40px) translateY(-35px);
}
.item__name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}
.item__price{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
    margin: 0;
}
.item__button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 18px;
    gap: 10px;
    width: 140px;
    height: 34px;
    background: #6B00F5;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute;
}
.offcanvas{
    width: 370px !important;
    border-radius: 0 20px 20px 0;
    margin: 0 auto;
}
.offcanvas-header{
    border-radius: 25px 25px 0 0;
}
.cartItems{
    max-height: 350px;
    overflow: scroll;
    padding: 30px 0px;
    display: grid;
    gap: 1.5rem;
}
.cart-item{
    position: relative;
    margin-bottom: 30px;
}
b{
    font-size: 16px;
}
.cart-item-desc{
    font-size: 18px;
}
.inner-cart-img-counter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart__item-badge{
    /* transform: translateX(-50px) translateY(28px); */
    text-align: center;
    background-color: #000000;
}
.controls button{
    width: 32px;
    height: 32px;
    background: #6B00F5;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 600;
}
.calculator{
    border-top:  5px solid #D7D7F9;
    padding-top: 20px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: max-content;
}
.expenditure{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.calcMeta{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    text-align: right;
    color: #000000;
}
h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #000000;
}
#total{
    color: #6B00F5;
    font-size: 34px;
}


@media screen and (min-width: 425px) {
    .main__container, .main__cart{
        border-radius: 25px;
        height: 98vh;
    }
}
@media screen and (min-width: 768px) {
    main{
        gap: 5%;
    }
    .main__container, .main__cart{
        width: 350px;
        height: 95vh;
    }
    .cart-body{
        margin: 0 20px;
    }
    .cartItems{
        max-height: 380px;
    }
}